
.content-about{
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    background-image: url(assets/slider2.jpg);
    background-size: cover;
    /* background-color :rgb(24, 26, 27); */
    /* margin: 10vh; */
    padding: 10vh;
}


.content-box{
    background-color: rgb(24, 26, 27, .8);
    width: 50vw;
    /* opacity: 50%; */
    color: white;
    border-radius: 2vw;
}

.content-header h1{
    z-index: 10;
    margin-top: 20px;
    text-align: center;
    /* opacity: 100%; */
    /* margin: auto; */
}

.content-text{
    margin-inline: 4vw;
    text-align: justify;
}

.content-text h2{
    color: rgb(247, 100, 33);
    margin: 0px;
}

.content-image img{
    width: 12vw;
}