.content-index{
    /* width: 1490px; */
    /* height: 700; */
    margin: 0px auto;
    overflow: auto;
    background-color: black;
    /* height: 1200px; */
    
}

.slider-inner{
    /* width: 60vw; */
    width: 98.5vw;
    /* height: 30vh; */
    position: relative;
    overflow: hidden;
    float: left;
    /* padding: 3px; */
}

.slider-inner img{
    display: none;
    width: 98.5vw;
    /* height: 50vh;     */
}

.slider-inner img.active{
    display: inline-block;
}

.prev, .next{
    float: left;
    margin-top: 60vh;
    cursor: pointer;
}

.prev{
    position: relative;
    margin-right: -5vw;
    z-index: 100;
}

.next{
    position: relative;
    margin-left: -5vw;
    z-index: 100;
}

.join{
    display: flex;
    flex-direction: column;
    height: 60vh;
    background-color: rgb(24, 26, 28);
    border-bottom: 5px solid red;
    border-top: 5px solid red;
    color: white;
    /* align-items: center; */
}

.join-inner{
    display: flex;
    height: 60vh;
    flex-direction: row;
    justify-content: space-around;
    margin-inline: 2vw;
    align-items: center;
}

.join p{
    margin: 1vh;
}

.join h1{
    margin-top: 8vh;
    text-align: center;
}

.join-right{
    display: flex;
    justify-content: center;
}

.join-right img{
    width : 25vw;
    border: rgb(73, 54, 54) 1px solid;
    border-radius: 10px;
}

.register-index{
    text-decoration: none;
    color: white;
    background-color: red;
    /* margin-bottom: 5vh; */
    width: 7.6vw;
    border-radius: 50px;
    padding: 1vh;
    margin: auto;   
    margin-bottom: 8vh;
    text-align: center;
}