.content-index{
    /* width: 1490px; */
    /* height: 700; */
    margin: 0px auto;
    overflow: auto;
    background-color: black;
    /* height: 1200px; */
    
}

.slider-inner{
    /* width: 60vw; */
    width: 97.2vw;
    /* height: 30vh; */
    position: relative;
    overflow: hidden;
    float: left;
    /* padding: 3px; */
}

.slider-inner img{
    display: none;
    width: 97.2vw;
    /* height: 50vh;     */
}

.slider-inner img.active{
    display: inline-block;
}

.prev, .next{
    float: left;
    margin-top: 300px;
    cursor: pointer;
}

.prev{
    position: relative;
    margin-right: -45px;
    z-index: 100;
}

.next{
    position: relative;
    margin-left: -45px;
    z-index: 100;
}

