h1{
    margin: 0;
    padding: 0;
}

.content-gallery{
    display: flex;
    height: 80%;
    flex-direction: row;
    justify-content: center;
    background-image: url(assets/slider2.jpg);
    background-size: cover;
    /* background-color :rgb(24, 26, 27); */
    /* margin: 10vh; */
    padding: 10vh;
}

.content-box{    
    background-color: rgb(0, 0, 0,.6);
    width: 80vw;
    /* opacity: 50%; */
    color: white;
    border-radius: 2vw;
}

.content-header h1{
    z-index: 10;
    margin-block: 5vh;
    text-align: center;
    /* opacity: 100%; */
    /* margin: auto; */
}

.content-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-inline: 5vw; */
}

.content-image img{
    width: 20vw;
    border: 2px solid rgb(243, 106, 106);
    border-radius: 5px;
    margin-inline: 2vw;
    margin-block: 2vw;
}

