h1{
    margin: 0;
    padding: 0;
}

.content-gallery{
    display: flex;
    flex-direction: row;
    background-color :rgb(24, 26, 27);
    margin: 0;
    padding: 0;
}

.content-header h1{
    margin: auto;
    color: white;
    text-align: center;

}